<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="search content">
            <form action="/search" method="POST">
                </br> 
                <% if (theResults.length > 0) { %>
                    <ul>
                        <% theResults.forEach(item => { %>
                            <li>
                                <b>Cat Name:</b> <%= item.cat_name %> <br>
                                <b>Breed:</b> <%= item.cat_breed %> <br>
                                <b>Owner:</b> <%= item.owner %> <br>
                                <b>Gender:</b> <%= item.gender %> <br>
                                <b>Stay Duration:</b> <%= item.stay %> days
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>No search results.</p>
                <% } %>
                </br><label>Cat Search:</label></br>
                <label>Keyword:
                    <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
                </label>
                </br>
                <button>Search</button>
            </form>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
